<link  rel="stylesheet" type="text/css" href="Ticket.css">
<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” 
integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
<form method="get" action="squidzoo.php">
    
    <div class="form-group">
        <label for="exampleInputLogin1">Login</label>
        <input type="Login" class="form-control" id="exampleInputLogin1" aria-describedby="LoginHelp" placeholder="Enter Login">
        <small id="LoginHelp" class="form-text text-muted">Your informations are private </small>
      </div>

    <div class="form-group">
      <label for="exampleInputSector1">Zoo sector</label>
      <input type="sector" class="form-control" id="exampleInputSector1" aria-describedby="sectorHelp" placeholder="Enter Sector">
      <small id="sectorHelp" class="form-text text-muted"> </small>
    </div>
    
    <div class="form-group">
        <label for="exampleInputDescription1">Description</label>
        <input type="Description" class="form-control" id="exampleInputDescription1" aria-describedby="DescriptionHelp" 
        placeholder="Description">
        <small id="DescriptionHelp" class="form-text text-muted"> </small>
      </div>

      <div class="form-group">
        <label for="exampleInputStatus1">Status (1, 2, 3 or 4)</label>
        <input type="Status" class="form-control" id="exampleInputStatus1" aria-describedby="StatusHelp" placeholder="Enter Status">
        <small id="StatusHelp" class="form-text text-muted"> </small>
      </div>

    <div class="form-group">
      <label for="exampleInputSubject1">Subject</label>
      <input type="subject" class="form-control" id="exampleInputSubject1" placeholder="Subject">
    </div>

    <fieldset>
        <legend>priority levels :</legend>
        <div>
          <input type="checkbox" id="Red" name="Priority" value="Red">
          <label for="Red">Red</label>
        </div>
        <div>
          <input type="checkbox" id="Orange" name="Priority" value="Orange">
          <label for="Orange">orange</label>
        </div>
          <div>
          <input type="checkbox" id="green" name="Priority" value="green">
          <label for="music">green</label>
        </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    
    <link  rel="stylesheet" type="text/css" href="css/bootstrap.css">
    
  </form>