@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    font-family: Oswald, sans-serif;
  }

img{
  
  width: 250px;
  transition: transform .1s;
  }
  img:hover{
-ms-transform: scale(1.2); /* Internet exploreur 9 */
-webkit-transform: scale(1.2); /* Safari 3-8 et chrome */
transform: scale(1.2);
}
.menu {
    border: 1px solid green;
    background-color: #ccc ;
    padding: 0;
  }
  .menu li {
    list-style-type: none;
    flex-basis: 120px; 
  text-align: center;
  }

  .menu a {
    border: 1px solid rgb(51, 0, 255);
    display: block;
  padding: 0.5rem;
  background-color: #aaa;
  text-decoration: none;
  color: #111;
  border-bottom: 3px solid #333;
  }

  .menu {
    border: 1px solid green;
    background-color: #ccc ;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .menu a.active {
    color: #00b5a9;
    background-color: #e3fffd;
    border-color: #00b5a9;
  }

  .menu a:hover {
    color: #05029e5f;
    background-color: #05029e5f;
    border-color: #05029e5f;
  }