ody{
	width: 750px;
}
h1{
	color:black;
	font-family: Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
	font-weight:bold;
	text-align: center;
}
h2{
	color:rgba(0, 55, 255, 0.373);
	font-family: Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
	font-weight:bold;
	text-align: center;
}
form{
	border: 1px solid rgba(0, 55, 255, 0.373);
	padding:10px;
	background-color:rgba(0, 55, 255, 0.373);
}
p{
	width:400px;
	padding-left: 305px;
	text-align: left;
	vertical-align: top;
}
label.left{
	float: left;
	margin-left: -305px;
	font-weight:bold;
}
